<a href="https://colab.research.google.com/github/MartinaGR/AMAX_school_2024/blob/main/notebook1_Martina.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

## 1. Basic Syntax

Here is an example of a small Python program:

In [1]:
# Any line that starts with # is ignored. It is a comment.

# Declaring variables
greeting = "Hello!" # This stores the string Hello in the variable greeting
nb_of_people = 5 # This stores the value 5 in the variable nb_of_people

print(greeting)
print(nb_of_people)

# A simple conditional structure
if (nb_of_people < 3):
    print("This is a small group")
else:
    print("This is a gathering")

Hello!
5
This is a gathering

**Exercise:**

Write a program that prints "Hello World"

In [3]:
# Your code here
word = "hello!"

print(word)

hello!

## 2. Variables and Basic Data Types

### Creating and Assigning Variables

In [15]:
# Variables can store data of different types, and different types can do different things.

# Text Type: str (string)

myName = "Martina"

# Numeric Types: int, float, complex

y = 2 #Int
heigth = 1.62  #Float
complex = 3+5j

# Sequence Types: list, tuple, range

myList = [1,2,3,4,5]  #Store of one type of variables

# Print variable values
print(my_name)

Martina

### Numbers

In [12]:
# Working with numbers

# Addition, subtraction
x = 4
print(3+2)
print(4+x)

# Multiplication, division

print(4*2)
print(16/3)

# Modulus, exponentiation, floor division

print(9%7)
print(3**2)

5
8
8
5.333333333333333
2
1

### Strings

In [21]:
# Basic string operations

# Concatenation

myGreeting = greeting + " " + myName
print(myGreeting)

# Replication

print(greeting*3)

Hello! Martina
Hello!Hello!Hello!

### Booleans

In [26]:
# Boolean values and expressions



# Comparison operators
print(3>5)
print(2==1)

# Logical operators
print(True and False)

print(True or False)

print(not True)

print(~ True)

False
False
False
True
False
-2

In [29]:
#Declare a variable named myAge holding your Age. Print your age in 10 year.

myAge = 25
print (myAge+10)

35

## 3. Lists and Dictionaries

### Lists

In [47]:
# Creating a list: collection of items

myList = [2, 4.5, myName, 1, "Hello"]

# Accessing items

print(myList[0])
print(myList[1])
print(myList[-1])

# Slicing
print(myList[1:4])
print(myList[:4])
print(myList[2:])


# Modifying lists
myList[1] = 20
print(myList)

# Adding items
myList.append(3)
myList.insert(3,5)
print(myList)
print(myList + [10,5,3,"hi"])

# Removing items

myList.remove(20)

2
4.5
Hello
[4.5, 'Martina', 1]
[2, 4.5, 'Martina', 1]
['Martina', 1, 'Hello']
[2, 20, 'Martina', 1, 'Hello']
[2, 20, 'Martina', 5, 1, 'Hello', 3]
[2, 20, 'Martina', 5, 1, 'Hello', 3, 10, 5, 3, 'hi']

**The `range()`function**

In [60]:
# Create a list from 0 to 9
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Exercise:**

Suppose you have a list of gene sequences represented by strings of 'A', 'T', 'C', and 'G'. Your task is to add a new gene sequence to the list, remove a specific sequence, and finally, access a sequence to print it.

In [59]:
# Given list of gene sequences
gene_sequences = ["ATCG", "TCGA", "CGAT", "GCAT"]

# Add a new gene sequence "GGTA" to the list
# Your code here

gene_sequences.append("GGTA")
print(gene_sequences)


# Remove the gene sequence "TCGA" from the list
# Your code here

gene_sequences.remove("TCGA")
print(gene_sequences)

# Access and print the third gene sequence in the list
# Your code here

print(gene_sequences[2])

['ATCG', 'TCGA', 'CGAT', 'GCAT', 'GGTA']
['ATCG', 'CGAT', 'GCAT', 'GGTA']
GCAT

### Dictionaries

In [ ]:
# A dictionary is a collection of key-value pairs. It is unordered, changeable and indexed.
# Creating a dictionary


# Accessing items

# Adding or updating


# Removing items

**Exercise:**

Suppose you have a dataset containing information on vaccination coverage for a set of countries. A recent study updates the data as follows: Canada has a coverage of 82%, India of 57%, and new data is available for Australia with 67% vaccination coverage. Your task is to create a new dictionary for thenew data, to merge the two datasets into a single, updated dataset, then print the list of countries.

In [ ]:
coverage_data = {
    "United States": 70,
    "Canada": 75,
    "Germany": 80,
    "India": 60,
    "Brazil": 65
}

# Create a new dictionary 'new_data' with the new coverage data
# your code here


# Add the new coverage data to the existing coverage data
# your code here

# Remove the coverage data for "India"
# your code here

# Print the list of countries in the coverage data
# your code here